@import '../../assets/variables/variables.scss';

.result-wrapper {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.load-btn {
  margin-bottom: 25px;
  padding: 15px 20px;
  background-color: $primary-interface-color;

  color: $element-background-color;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  border: none;
  border-radius: 5px;
}

.warning-text {
  margin-top: 50px;
  color: $secondary-color;
  text-align: center;
}
